:root {
  --checkbox-radio-size: var(--space-6);
  --checkbox-radio-gap: var(--space-3); // gap between button and label
  --checkbox-radio-border-width: 2px;
  --checkbox-radio-line-height: 1.5;

  --color-background: var(--white);

  // checkboxes
  --checkbox-marker-size: var(--space-4);
  --checkbox-radius: 0px;
  --checkbox-bg: var(--color-background);
  --checkbox-border-color: var(--color-surface);
  --checkbox-bg-checked: var(--accent);
  --checkbox-border-color-hover: var(--accent);
  --focus-color: #{alpha(var(--accent), 0.5)};
  --button-hover-color: var(--accent);

  --radio-marker-size: 8px;
}

input[type="checkbox"] {
  appearance: auto;
}

.form__group .radio__group,
.form__group .checkbox__group {
  display: flex;
  gap: var(--space-4);
  flex-direction: column;

  &--inline {
    flex-direction: row;
  }
}

.checkbox,
.radio {
  display: flex;
  align-items: center;
}

// **** Custom Checkbox Styles! ****
// hide native buttons
.checkbox__input,
.radio__input {
  position: absolute;
  padding: 0;
  margin: 0;
  margin-top: calc(
    (1em * var(--checkbox-radio-line-height) - var(--checkbox-radio-size)) / 2
  );
  opacity: 0;
  height: var(--checkbox-radio-size);
  width: var(--checkbox-radio-size);
  pointer-events: none;
}

// label
.checkbox__input + label,
.radio__input + label {
  display: inline-flex;
  align-items: flex-start;
  line-height: var(--checkbox-radio-line-height);
  user-select: none;
  cursor: pointer;
  margin-bottom: 0;
  font-size: var(--font-size-sm);

  span {
    padding-top: var(--space-1);
  }

  a {
    font-weight: 600;
    margin-right: var(--space-1);
  }

  p {
    line-height: inherit;
    padding: 0;
    margin: 0;
    font-size: inherit;
  }
}

// custom buttons - basic style
.checkbox__input + label::before,
.radio__input + label::before {
  content: "";
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  top: calc(
    (1em * var(--checkbox-radio-line-height) - var(--checkbox-radio-size)) / 2
  );
  flex-shrink: 0;
  width: var(--checkbox-radio-size);
  height: var(--checkbox-radio-size);
  background-color: var(--checkbox-bg);
  border-width: var(--checkbox-radio-border-width);
  border-color: var(--checkbox-border-color);
  border-style: solid;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: var(--checkbox-radio-gap);
  transition: transform 0.2s, border 0.2s;
}

// hover
.checkbox__input:not(:checked):not(:focus) + label:hover::before,
.radio__input:not(:checked):not(:focus) + label:hover::before {
  border-color: var(--checkbox-border-color-hover);
}

// checkbox only style
.checkbox__input + label::before {
  border-radius: var(--checkbox-radius);
}

.radio__input + label::before {
  border-radius: 50%;
}

// :checked
.checkbox__input:checked + label::before,
.radio__input:checked + label::before {
  background-color: var(--checkbox-bg-checked);
  box-shadow: none;
  border-color: var(--checkbox-bg-checked);
  transition: transform 0.2s;
}

// :active
.checkbox__input:active + label::before {
  transform: scale(0.8);
  transition: transform 0.2s;
}

// :checked:active
.checkbox__input:checked:active + label::before,
.radio__input:checked:active + label::before {
  transform: none;
  transition: none;
}

// checkbox button icon
.checkbox__input:checked + label::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.92627 12.35L14.1778 0.430783C14.3287 0.212722 14.5602 0.063567 14.8211 0.0161297C15.0821 -0.0313077 15.3512 0.0268589 15.5692 0.177833C15.7873 0.328808 15.9364 0.560223 15.9839 0.821171C16.0313 1.08212 15.9731 1.35122 15.8222 1.56928L6.07357 15.6505L0.231674 8.63998C0.0662692 8.43574 -0.0120833 8.1746 0.0135654 7.91304C0.0392142 7.65147 0.166802 7.41052 0.368731 7.2423C0.570659 7.07408 0.830694 6.99212 1.09259 7.01414C1.35448 7.03617 1.59717 7.16041 1.76817 7.35998L5.92627 12.35Z' fill='white'/%3e%3c/svg%3e ");
  background-size: var(--checkbox-marker-size);
}

// radio button icon
.radio__input:checked + label::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg class='nc-icon-wrapper' fill='%23ffffff'%3E%3Ccircle cx='8' cy='8' r='8' fill='%23ffffff'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
  background-size: var(--radio-marker-size);
}

// :focus
.checkbox__input:checked:active + label::before,
.checkbox__input:focus + label::before,
.radio__input:checked:active + label::before,
.radio__input:focus + label::before {
  border-color: var(--checkbox-bg-checked);
  box-shadow: 0 0 0 3px var(--focus-color);
}

.checkbox--disabled,
.radio--disabled {
  opacity: 0.5;
  .checkbox__input + label,
  .radio__input + label {
    cursor: not-allowed;
  }

  .checkbox__input:checked:active + label::before,
  .checkbox__input:focus + label::before,
  .radio__input:checked:active + label::before,
  .radio__input:focus + label::before {
    border-color: transparent;
    box-shadow: none;
  }
}