:root {
  --white: #fff;
  --black: #000;

  --primary: var(--primary10);
  --accent: var(--accent10);
  --grey: var(--grey10);

  --primary12: #20282D;
  --primary11: #343F46;
  --primary10: #4b555c;
  --primary9: #5D676E;
  --primary8: #70797F;
  --primary7: #828A90;
  --primary6: #959CA1;
  --primary5: #A8AEB2;
  --primary4: #BBC0C3;
  --primary3: #CED2D4;
  --primary2: #E1E3E5;
  --primary1: #F4F5F6;

  --accent12: #552824;
  --accent11: #952B20;
  --accent10: #e4210e;
  --accent9: #EB3523;
  --accent8: #F14939;
  --accent7: #F65F50;
  --accent6: #FA756B;
  --accent5: #FD8C85;
  --accent4: #FFA4A0;
  --accent3: #FFBCBA;
  --accent2: #FFD6D5;
  --accent1: #FFF0F0;

  --grey12: #1E1E1E;
  --grey11: #373636;
  --grey10: #4f4e4e;
  --grey9: #616161;
  --grey8: #747373;
  --grey7: #868686;
  --grey6: #999898;
  --grey5: #ABAAAA;
  --grey4: #BDBDBD;
  --grey3: #D0CFCF;
  --grey2: #E2E2E2;
  --grey1: #F4F4F4;
}