figure {
  position: relative;
  z-index: 1;

  img {
    border-radius: var(--figure-radius, var(--component-radius));
  }
}

.figure--full {
  img {
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
  }
}

figcaption,
.text__caption {
  text-align: left;
  margin: var(--space-2) 0;
  color: var(--color-contrast-low);
}
